@{
    ViewData["Title"] = "Home Page";
}
@section css {
    <link href="@Url.Content("~/css/page1.css")" rel="stylesheet" />
}
<div class="container">
    <div> <header> Vacation Tracking Website</header></div>
    <div><img src="~/images/banner.jpg" /></div>
    <div class="body">
        <div id="menuleft">
            <menuleft>
                <ul>
                    <li id="menuli" class="button"> Button 1</li>
                    <li id="menuli" class="button"> Button 2</li>
                    <li id="menuli" class="button"> Button 3</li>
                    <li id="menuli" class="button"> Button 4</li>
                    <li id="menuli" class="button"> Button 5</li>
                    <li id="menuli" class="button"> Button 6</li>
                    <li id="menuli" class="button"> Button 7</li>
                    <li id="menuli" class="button"> Button 8</li>
                </ul>
            </menuleft>
        </div>
        <div id="article" >
            <div>
                <h1>Heading 1 <br /></h1> Same Page Different Stylesheets
                This is a demonstration of how different stylesheets can
                change the layout of your HTML page. You can change the layout of
                this page by selecting different stylesheets in the menu,
                or by selecting one of the following links
            </div>
            <div>
                <h2> Table 1</h2>
                <table>
                    <tr>
                        <th>Tên cột 1</th>
                        <th>Tên cột 2</th>
                        <th>Tên cột 3</th>
                    </tr>
                    <tr>
                        <td>Nội dung 1</td>
                        <td>Nội dung 2</td>
                        <td>Nội dung 3</td>
                    </tr>
                    <tr>
                        <td>Nội dung 4</td>
                        <td>Nội dung 5</td>
                        <td>Nội dung 6</td>
                    </tr>
                    <tr>
                        <td>Nội dung 7</td>
                        <td>Nội dung 8</td>
                        <td>Nội dung 9</td>
                    </tr>
                </table>
            </div>
           

        </div>
    </div>    
</div>
<div class="footer">&copy; Demo</div>